@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{

    /* ### Primary */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    --desaturated-red-bk: rgba(206, 151, 151, 0.15);

    /* ### Neutral */

    --dark-grayish-red: hsl(0, 6%, 24%);
    --dark-grayish-red-shadow: 0, 6%, 24%;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    display: grid;
    min-height: 100vh;
}

main{
    margin: 1rem;
    display: grid;
    width: 62rem;
    place-self: center;
    overflow: hidden;
    box-shadow: 0px 0px 40px #d4d4d4;
}

.container{
    background-image: url(images/bg-pattern-desktop.svg), url(images/bg-pattern-desktop.svg);
    background-position: bottom, top right;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas: "logo image" "article image";
    grid-template-columns: 34rem 28rem;
}

picture{
    grid-area: image;
    background-image: url(images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main img.right{
    display: block;
    width: 100%;
}

main .logo{
    width: 30%;
    grid-area: logo;
    margin: 3rem 5rem 1rem;
}

article{
    grid-area: article;
    margin: 0rem 5rem 5rem;
}

h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin: 4.55rem 0rem 1rem;
}

h1 span{
    font-weight: 300;
}

span, p{
    color: var(--desaturated-red);
}

p{
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 1.75rem;
    font-size: 16px;
}

.input-container{
    position: relative;
}


.input-container input{
    border-radius: 2.5rem;
    border:1px solid var(--desaturated-red);
    padding: 1rem;
}

input{
    border: 0;
    position: relative'
}

input[type=text]{
    width: 100%;
}

.input-container span{
    color: var(--soft-red);
    position: relative;
    top: 0.5rem;
    left: 0.9rem;
    display: none;
}

.input-container span.error{
    display: inline-block;
}

input::placeholder{
    color: var(--desaturated-red);
}

input:focus{
    outline: 0;
}

button{
    display: inline-block;
    padding: 0.75rem 2rem;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 2.5rem;
    border: 0;
    position: absolute;
    right: 0;
    cursor: pointer;
    box-shadow: 0px 13px 30px rgba(135, 69, 69, 0.35);
}

.input-container.error button::before {
    width: 1.5rem;
    height: 1.5rem;
    content: '';
    background-image: url(images/icon-error.svg);
    display: inline-block;
    position: absolute;
    right: 6rem;
    top: 0.75rem;
  }

button i img{
    height: 30%;
}

@media (max-width:42rem){
    main{
        width: 80vw;
    }

    article{
        margin: 1.5rem 2rem 2.5rem;
    }

    h1{
        margin: 1rem;
    }

    .container{
        width: 100%;
        grid-template-areas: 
        "logo" 
        "image" 
        "article";
        grid-template-columns: 1fr;
        background: var(--desaturated-red-bk);

        background-image: none;
    }

    main .logo {
        margin: 2rem;
    }

    h1, p{
        text-align: center;
    }

    picture{
        background-image: url(images/hero-mobile.jpg);
        height: 10rem;
    }
}
